/* color de background */
.colorFondoPrincipal {
    background-color: #EBCA9A;
}
/*estilos menu*/
a.navbar-brand{
    color: #FFFFFF!important;
    font-family: 'Open Sans', sans-serif!important;
}

a.linkMenuPrincipal{
    color: #FFFFFF!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    padding: 4px;
    background-color: transparent;
    transition: background-color .5s ease-in;
    
} 
a.linkMenuPrincipal:hover{
    background-color: rgba(255, 255, 255, .8);
    color: #EBCA9A!important;
} 
/*h3 subtitulos*/
h3.subtitulo {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
    font-size: 2rem;
    text-align: center;
    margin-top: 30px!important;
}
/*Texto parrafos*/
p.texto {   
    font-family: 'Open Sans', sans-serif; 
    color: #FFFFFF; 
    font-size: 1.2rem;
    margin-top: 10px;
}
/*listas*/
ul.ulPoliticaUso {
    padding: 0;
}
li.listas {
    font-family: 'Open Sans', sans-serif; 
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-top: 10px;
    list-style: none;
}
/* footer */
a.linksFooter, p.desarrolladoPor{
    color: #EBCA9A!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    padding: 4px;
    background-color: transparent;
    transition: background-color .5s ease-in;
    
} 
/* HOVER LINK FOOTER */
a.linksFooter:hover{
    background-color: rgba(235, 202, 154, .8);
    color: #FFFFFF!important;
} 
/* link pargina personal */
a.linkPaginaDesarrollador{
    color: #EBCA9A!important;
    text-decoration: none!important;   
}


/* media querys */
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 576px) { 
    /* titulo principal h1 */
    h1.tituloPrincipal {
        font-size: 2.5rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 
    /* titulo principal h1 */
    h1.tituloPrincipal {
        text-align: center;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
    /*estilos menu*/
    a.navbar-brand{
        font-size: 1.5rem;
    }
    /* enlaces */
    a.linkMenuPrincipal{
        font-size: 1.2rem;
    }
    /*titulo principal*/
    h1.tituloPrincipal{
        margin-top: 3rem;
    }
    /* footer */
    a.linksFooter, p.desarrolladoPor, a.linkPaginaDesarrollador {
        font-size: 1.2rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 
    /*estilos menu*/
    a.navbar-brand{
        font-size: 1.8rem;
    }
    /* enlaces */
    a.linkMenuPrincipal{
        font-size: 1.4rem;
    }
 
    /* footer */
    a.linksFooter, p.desarrolladoPor, a.linkPaginaDesarrollador {
        font-size: 1.4rem;
    }
 }

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) { 
    /*estilos menu*/
    a.navbar-brand{
        font-size: 2rem;
    }
    /*titulo principal*/
    h1.tituloPrincipal{
        font-size: 3.2rem;
    }
}