/* color de background */
.colorFondoPrincipal {
    background-color: #EBCA9A;
}
/*estilos menu*/
a.navbar-brand{
    color: #FFFFFF!important;
    font-family: 'Open Sans', sans-serif!important;
}
/* enlaces */
a.linkMenuPrincipal{
    color: #FFFFFF!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    padding-left: 5px;
}
/*links*/
a.linkMenuPrincipal:hover {
    box-shadow: inset 160px 0 0 0 #FFFFFF;
    color: #EBCA9A!important
}
/* titulo principal h1 */
h1.tituloPrincipal {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-align: center;
}
/*subtitulo h3*/
h3.subtituloh3 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
    font-size: 2rem;
}
/* Texto */
p.texto {
    font-family: 'Open Sans', sans-serif; 
    color: #FFFFFF; 
    margin-bottom: 2rem;
    text-align: center;
}
/* footer */
a.linksFooter, p.desarrolladoPor {
    font-family: 'Open Sans', sans-serif;
    transition: color .9s ease-in-out, box-shadow .5s ease-in-out;
    color: #EBCA9A!important;
    font-weight: bold;
}
a.linksFooter:hover {
    box-shadow: inset 160px 0 0 0 #EBCA9A;
    color: #FFFFFF!important
}
/* link pargina personal */
a.linkPaginaDesarrollador{
    color: #EBCA9A!important;
    text-decoration: none!important;   
}

/* media querys */
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 576px) { 
    /* titulo principal h1 */
    h1.tituloPrincipal {
        font-size: 2.5rem;
    }
    /* Texto */
    p.texto {
        font-size: 1.2rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 
    /* titulo principal h1 */
    h1.tituloPrincipal {
        text-align: center;
    }
    /* Texto */
    p.texto {
        margin-bottom: 25px;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
    /*estilos menu*/
    a.navbar-brand{
        font-size: 1.5rem;
    }
    /* enlaces */
    a.linkMenuPrincipal{
        font-size: 1.2rem;
    }
    /*titulo principal*/
    h1.tituloPrincipal{
        margin-top: 3rem;
    }
    /*tamaño imagen*/
    img.imgSection2 {
        padding: 50px 0;
    }
    /*texto*/
    p.texto{
        margin-top: 0!important;
    }
    /* footer */
    a.linksFooter, p.desarrolladoPor, a.linkPaginaDesarrollador {
        font-size: 1.2rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 
    /*estilos menu*/
    a.navbar-brand{
        font-size: 1.8rem;
    }
    /* enlaces */
    a.linkMenuPrincipal{
        font-size: 1.4rem;
    }
    /*tamaño imagen*/
    img.imgSection2 {
        padding: 100px 0;
    }
    /* footer */
    a.linksFooter, p.desarrolladoPor, a.linkPaginaDesarrollador {
        font-size: 1.4rem;
    }
 }

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) { 
    /*estilos menu*/
    a.navbar-brand{
        font-size: 2rem;
    }
    /*titulo principal*/
    h1.tituloPrincipal{
        font-size: 3.2rem;
    }
    /*texto*/
    p.texto{
        font-size: 1.4rem;
        line-height: 1.5;
    }
}